@model OnlineBook.Entity.BookDetail

@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Update", "BookList", FormMethod.Post))
{
	@Html.HiddenFor(Model => Model.bookId)
	<table cellpadding="10">

		<tr>
			<td>
				@Html.Label("bookName")
			</td>
			<td>
				@Html.EditorFor(Model => Model.bookName)
			</td>
		</tr>
		<tr>
			<td>
				@Html.Label("bookAuthor")
			</td>
			<td>
				@Html.EditorFor(Model => Model.bookAuthor)
			</td>
		</tr>
		<tr>
			<td>
				@Html.ActionLink("Cancel", "Index")
			</td>
			<td>
				<input type="submit" value="Update" />
			</td>
		</tr>
	</table>
}